h1 {
  color: red;
}
.navbar-inverse {
  background-color: red;
  border-color: red;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: red;
}